.test__expired-time{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FF6A55;
}

.test__successfull{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #83BF6E;
}