.mobile__button{
    display: block;
    font-weight: 700;
    width: 90%;
    padding: .25rem 1.25rem;
    background: #2A85FF;
    border-radius: 12px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FCFCFC;
    margin: 0 auto;
}

.secundary__button{
    background: #33383F;
    margin-bottom: 1.5rem;
}

.button__icon{
    font-size: 1.2rem;
    font-weight: bolder ;
    margin-bottom: .25rem;
    margin-right: 1rem;
    padding: 0 !important;
    background-color: transparent;
}

