.box__main-input{
    text-align: center;
}

.process__input{
    border: 1px solid #A5A9AF;
    border-radius: 12px;
    padding: 8px;
    margin: auto;
    background: #F4F4F4;
    width: 65%;
}

.process__input-box{
    margin-top: 1.5rem;
}

.process__form-input{
    width: 100%;
    padding: 12px 8px;
    border: 2px solid #EFEFEF;
    border-radius: 12px;
    background: #FFF;
    font-size: .8rem;
    margin-top: .75rem;
}

.form__input-section{
    margin-top: 1.25rem;
}