@import ../../../styles/helpers

.fieldset
    & > .field
        &:not(:last-child)
            margin-bottom: 32px
            +t
                margin-bottom: 24px

.row
    display: flex
    margin: 0 -8px
    +m
        display: block
        margin: 0
    .field
        flex: 0 0 calc(50% - 16px)
        width: calc(50% - 16px)
        margin: 0 8px
        +m
            width: 100%
            margin: 0
            &:not(:last-child)
                margin-bottom: 24px
    &:not(:last-child)
        margin-bottom: 32px
        +t
            margin-bottom: 24px
.profile
    display: flex
.file
    margin-right: 32px
    input
        display: none
    .button
        background: #33383F
        img
            margin-right: 8px

.line
    display: flex
    align-items: center
    margin-bottom: 16px
    padding-bottom: 16px
    border-bottom: 1px solid $n3
    +dark
        border-color: $n6

.title
    margin-right: 24px
    +base2
    color: $n5
    +dark
        color: $n3

.tooltip
    position: relative
    top: -1px
    svg
        fill: $shades1

.button
    margin-left: auto

.email
    margin-bottom: 16px
    +base2

.content
    +caption2
    font-weight: 500
    color: $n4
.black_btn
    background: #33383F
    &:hover
        background: darken(#33383F, 5%)
